body {
    background: radial-gradient(#587baf, #2a457e);
}

.text {
    background-color: #26508a;
    border: solid rgb(6, 0, 90) 1px;
    margin-top: 0.3%;
    height: 3%;
    float: right;
    width: 75%;
}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    margin-top: 7%;
    width: 15%;
    margin-left: 40.25%;
    margin-right: 40.25%;
}

a {
    color: white;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3b6cb1;
    font-size: 21px;
    width: 75%;
    height: 55px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reg {
    margin-top: 6%;
    width: 50%;
    margin-left: 25%;
    float: left;
}

#loginError,
#passwordError {
    margin-left: 50%;
    color: red;
}