* {
    margin: 0;
}

body {
    background: linear-gradient(0deg, #eff2f7, #6b97ed);
    /**/
    ;
}

#navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}

#navbar li:hover ul {
    display: block;
}

#navbar,
#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 76px;
    background-color: #fff;
    padding-left: 40px;
    min-width: 470px;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    margin-top: 4%;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 6px;
    display: block;
    width: 300px;
    color: #20639b;
    text-decoration: none;
    text-align: center;
}

#navbar ul li {
    float: none;
}

#navbar li:hover {
    background-color: #98cdfa;
}

#navbar ul li:hover {
    background-color: #666;
}

img {
    float: left;
}

.content {
    margin-top: 3%;
    border-radius: 20px;
    margin-left: 10%;
    padding-bottom: 19%;
    background-color: white;
    width: 80%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 5%;
}

.content-form {
    float: left;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 2%;
    background-color: white;
    width: 35%;
    padding-bottom: 10%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo {
    float: left;
}

.rek {
    width: 100%;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: #20639b;
    padding: 2%;
}

p {
    margin-left: 10%;
    float: left;
    width: 45%;
    font-size: 21px;
}

.kvr {
    margin-right: 10%;
    float: right;
    width: 30%;
    padding-bottom: 20%;
}

.content_1 {
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 2%;
    background-color: white;
    width: 80%;
    padding-bottom: 25%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content_0 {
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 6%;
    background-color: white;
    width: 80%;
    padding-bottom: 1%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 3%;
}

span {
    font-size: 21px;
}

.new {
    padding: 2%;
    padding-bottom: 0.4%;
}

.sales {
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    padding-bottom: 15%;
}

.card_gl {
    float: left;
    width: 12%;
    border-radius: 20px;
    margin-left: 0.5%;
    margin-top: 1%;
    background-color: white;
    padding-bottom: 1%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.photo_gl {
    padding-right: 25%;
    padding-left: 20%;
    padding-top: 20%;
}

.card_gl h2 {
    width: 100%;
    text-align: center;
}

.card_gl h1 {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 60px;
}

footer {
    font-size: 31;
    background-color: white;
    height: 120px;
    margin-top: 160px;
}

footer h2 {
    color: #20639b;
    padding-left: 3%;
}